<div class="attribute-choice-form" style="--theme-color: {{themeColor}};">
  {{#each attributeSets}}
    <div class="attribute-set card-grid" style="--col-count: {{stats.length}};" data-set-index="{{@index}}" data-mod="{{modification}}">
      {{#each stats}}
        <div class="card dialog-card interactive" data-action="selectAttribute" data-attr="{{this}}">
          <img class="icon" src="systems/mosh/images/icons/ui/attributes/{{this}}.png" alt="{{this}} Icon">
          <h3>{{capitalize this}}</h3>
          <div class="mod counter">{{#if (gt ../modification 0)}}+{{/if}}{{../modification}}</div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
