<div class="class-selection-content" style="--theme-color: {{themeColor}};">
  <div class="card-grid" style="--col-count: {{gridColumns}};">
    {{#each classes}}
      <div class="card dialog-card interactive class-card" data-action="selectClass" data-class-id="{{this.id}}">
        {{#unless ../showSkillView}}
          <img src="{{this.img}}" alt="{{this.name}}">
        {{/unless}}
        <h3>{{this.name}}</h3>
        <div class="attributes-container">{{{this.attributes}}}</div>
        <p class="trauma-response">{{this.trauma}}</p>
        {{#if ../showSkillView}}
          <div class="class-skill-view">
            <div class="card class-skill-option-card">
              <h4>{{this.skillView.defaultSkills.name}}</h4>
              <ul class="class-skill-list">
                {{#if this.skillView.defaultSkills.trained}}<li>{{this.skillView.defaultSkills.trained}} {{localize "MoshQoL.CharacterCreator.Skills.Trained"}}</li>{{/if}}
                {{#if this.skillView.defaultSkills.expert}}<li>{{this.skillView.defaultSkills.expert}} {{localize "MoshQoL.CharacterCreator.Skills.Expert"}}</li>{{/if}}
                {{#if this.skillView.defaultSkills.master}}<li>{{this.skillView.defaultSkills.master}} {{localize "MoshQoL.CharacterCreator.Skills.Master"}}</li>{{/if}}
              </ul>
              {{#if this.skillView.defaultSkills.skills.length}}
                <h5 class="class-skill-linked-heading">{{localize "MoshQoL.CharacterCreator.Skills.LinkedSkills"}}</h5>
                <ul class="class-skill-list">
                  {{#each this.skillView.defaultSkills.skills}}
                    <li>{{this.name}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            </div>
            {{#each this.skillView.orOptions}}
              <div class="card class-skill-option-card">
                <h4>{{this.name}}</h4>
                <ul class="class-skill-list">
                  {{#if this.trained}}<li>{{this.trained}} {{localize "MoshQoL.CharacterCreator.Skills.Trained"}}</li>{{/if}}
                  {{#if this.expert}}<li>{{this.expert}} {{localize "MoshQoL.CharacterCreator.Skills.Expert"}}</li>{{/if}}
                  {{#if this.master}}<li>{{this.master}} {{localize "MoshQoL.CharacterCreator.Skills.Master"}}</li>{{/if}}
                </ul>
                {{#if this.skills.length}}
                  <h5 class="class-skill-linked-heading">{{localize "MoshQoL.CharacterCreator.Skills.LinkedSkills"}}</h5>
                  <ul class="class-skill-list">
                    {{#each this.skills}}
                      <li>{{this.name}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            {{/each}}
          </div>
        {{else}}
          <p class="description">{{this.description}}</p>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
