<form class="greybeardqol">
  <div class="five-col-grid">
    {{#each tiers as |tier|}}
      <label class="card" style="display: block;">
        <input type="radio" name="shore-tier" value="{{tier.tier}}" style="display: none;">
        {{#if tier.icon}}
            <i class="fas {{tier.icon}}"></i>
        {{/if}}
        <h3>{{tier.label}}</h3>

        <div style="margin: 1em 0;">
          <strong>Stress Conversion</strong>
          <div style="margin: 0.2em 0;">{{tier.stressString}}</div>
        </div>

        <div style="margin: 1em 0;">
          <strong>Price</strong>
          <div style="margin: 0.2em 0;">{{tier.priceString}}</div>
        </div>

        <div class="pill roll-price" data-tier="{{tier.tier}}" style="margin-top: 0.75em;">
          <i class="fa-solid fa-coins"></i>
          <span>Roll Price</span>
        </div>
      </label>
    {{/each}}
  </div>
</form>
