<form class="greybeardqol stress-conversion-form">
  <div class="three-col-grid">
    <div class="card" data-attr="sanity">
      <img src="systems/mosh/images/icons/ui/attributes/sanity.png" alt="Sanity Icon">
      <h3>Sanity</h3>
      <div class="counter" id="counter-sanity">0</div>
    </div>
    <div class="card" data-attr="fear">
      <img src="systems/mosh/images/icons/ui/attributes/fear.png" alt="Fear Icon">
      <h3>Fear</h3>
      <div class="counter" id="counter-fear">0</div>
    </div>
    <div class="card" data-attr="body">
      <img src="systems/mosh/images/icons/ui/attributes/body.png" alt="Body Icon">
      <h3>Body</h3>
      <div class="counter" id="counter-body">0</div>
    </div>
  </div>

  <div class="pill remaining-points">
    Remaining Points: <span id="remaining">0</span>
  </div>
</form>
