<form class="stress-conversion-form">

  <div class="stress-dialog">
    <div class="stress-attribute" data-attr="sanity">
      <h3>Sanity</h3>
      <div class="stress-counter" id="counter-sanity">0</div>
    </div>
    <div class="stress-attribute" data-attr="fear">
      <h3>Fear</h3>
      <div class="stress-counter" id="counter-fear">0</div>
    </div>
    <div class="stress-attribute" data-attr="body">
      <h3>Body</h3>
      <div class="stress-counter" id="counter-body">0</div>
    </div>
  </div>

  <div class="remaining-points">
    Remaining Points: <span id="remaining">0</span>
  </div>
</form>
